
<table class = "table table-striped table-condensed">
  </tr>
    <td><%= @list.name %></td>
    <td><%= @list.due_date %></td>
    <td><%= @list.note %></td>
  </tr>
</table>

<%= link_to '回到上一頁',lists_path %>
